
// Breakpoints
$hi-res: min-resolution 1.5dppx;
$width-sm: 320px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1200px;
$width-xl-xxl: 1600px;
$width-xxl: 1920px;

@include mq($width-sm) {}
@include mq($width-md) {}
@include mq($width-lg) {}
@include mq($width-xl) {}
@include mq($width-xl-xxl) {}
@include mq($width-xxl) {}