<div class="flex column drawer-bottom" style="height: auto;">
								<p>
									Twelve months ended December 31, 2019 and 2018 (In thousands)
								</p>
								<div class="flex column table-wrap"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1088 332.9" style="enable-background:new 0 0 1088 332.9;" xml:space="preserve" class="jo-svg-table fin-table jo-nonop-table">
<style type="text/css">
	.jo-nonop-table .st0{fill:#77787B;}
	.jo-nonop-table .st1{fill:#E6E7E8;}
	.jo-nonop-table .st2{fill:#FFFFFF;}
	.jo-nonop-table .st3{font-family:'ArialMT';}
	.jo-nonop-table .st4{font-size:16px;}
	.jo-nonop-table .st5{fill:none;stroke:#E6E7E8;stroke-miterlimit:10;}
</style>
<g>
	<g>
		<rect class="st0" width="1088" height="39.1"></rect>
		<rect y="293.8" width="1088" height="39.1"></rect>
		<rect y="255.5" class="st0" width="1088" height="39.1"></rect>
		<rect y="177.1" class="st1" width="1088" height="39.1"></rect>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 882.9609 24.5349)" class="st2 st3 st4">December 31, 2018</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 620.4095 24.5349)" class="st2 st3 st4">December 31, 2019</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 606.4896 25.1225)" class="st2 st3 st4"></text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 869.0811 25.1225)" class="st2 st3 st4"></text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6247 85.0528)" class="st3 st4">Bond interest, net - JOBS</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6168 124.1892)" class="st3 st4">Investment income - JobsOhio</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6168 163.3251)" class="st3 st4">Other, net - JOBS</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 693.9536 84.6391)" class="st3 st4">(53,182)</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 704.6092 124.1892)" class="st3 st4">23,276</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 713.5076 162.9115)" class="st3 st4">5,308</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 704.6092 241.5965)" class="st3 st4">81,804</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 695.7107 280.984)" class="st2 st3 st4">573,238</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 695.7106 317.9716)" class="st2 st3 st4">655,042</text>
	</g>
	<g>
		<g>
			<path class="st1" d="M1087,1v330.9H1V1H1087 M1088,0H0v332.9h1088V0L1088,0z"></path>
		</g>
		<line class="st5" x1="0" y1="332.9" x2="1088" y2="332.9"></line>
		<line class="st5" x1="0" y1="293.8" x2="1088" y2="293.8"></line>
		<line class="st5" x1="0" y1="254.8" x2="1088" y2="254.8"></line>
		<line class="st5" x1="0" y1="215.7" x2="1088" y2="215.7"></line>
		<line class="st5" x1="0" y1="176.7" x2="1088" y2="176.7"></line>
		<line class="st5" x1="0" y1="137.6" x2="1088" y2="137.6"></line>
		<line class="st5" x1="0" y1="98.6" x2="1088" y2="98.6"></line>
		<line class="st5" x1="0" y1="59.5" x2="1088" y2="59.5"></line>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 20.6207  24.5349)" class="st2 st3 st4">Nonoperating revenues (expenses):</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 80.6209 241.5967)" class="st3 st4">Change in net position</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 693.9529 202.4604)" class="st3 st4">(24,598)</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 80.6209 202.4606)" class="st3 st4">Total nonoperating revenues (expenses)</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 20.6211 280.7326)" class="st2 st3 st4">Net position, beginning of period</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 20.6207 318.3888)" class="st2 st3 st4">Net position, end of period</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 952.369 84.6391)" class="st3 st4">(54,301)</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 971.924 124.1892)" class="st3 st4">9,026</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 971.924 162.9115)" class="st3 st4">4,974</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 963.0255 241.5965)" class="st3 st4">71,544</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 954.1271 280.984)" class="st2 st3 st4">501,694</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 954.127 317.9716)" class="st2 st3 st4">573,238</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 952.3694 202.4604)" class="st3 st4">(40,301)</text>
	</g>
	<text transform="matrix(1 0 0 1 655.8083 84.6393)" class="st3 st4">$</text>
	<text transform="matrix(1 0 0 1 918.3515 84.6393)" class="st3 st4">$</text>
	<g>
		<text transform="matrix(1 0 0 1 655.3283 317.9718)" class="st2 st3 st4">$</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 917.8715 317.9718)" class="st2 st3 st4">$</text>
	</g>
</g>
</svg></div>

								<div class="flex column table-wrap"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1088 684.4" style="enable-background:new 0 0 1088 684.4;" xml:space="preserve" class="jo-svg-table fin-table jo-expenses-table">
<style type="text/css">
	.jo-expenses-table .st0{fill:#77787B;}
	.jo-expenses-table .st1{fill:#E6E7E8;}
	.jo-expenses-table .st2{fill:#FFFFFF;}
	.jo-expenses-table .st3{font-family:'ArialMT';}
	.jo-expenses-table .st4{font-size:16px;}
	.jo-expenses-table .st5{fill:none;stroke:#E6E7E8;stroke-miterlimit:10;}
</style>
<g>
	<g>
		<rect class="st0" width="1088" height="39.1"></rect>
		<rect y="606.3" class="st1" width="1088" height="39.1"></rect>
		<rect y="645.4" class="st0" width="1088" height="39.1"></rect>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 882.9609 44.9843)" class="st2 st3 st4"></text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 620.4095 44.9843)" class="st2 st3 st4"></text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6247 123.6992)" class="st3 st4">Cost of goods sold</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 162.8355)" class="st3 st4">Sales commissions</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 201.9716)" class="st3 st4">Liquor gallonage taxes</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 241.1076)" class="st3 st4">Amortization of intangible asset - liquor franchise</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 280.2438)" class="st3 st4">Service fees</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 319.3799)" class="st3 st4">Supplemental Payment</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 358.5161)" class="st3 st4">Other</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 698.5933 123.2855)" class="st3 st4">784,775</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 707.4919 162.8356)" class="st3 st4">74,930</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 707.492 201.558)" class="st3 st4">51,322</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 707.4917 241.1076)" class="st3 st4">55,197</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 707.4926 280.2435)" class="st3 st4">16,856</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 707.492 319.7975)" class="st3 st4">61,319</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 708.6794 359.1849)" class="st3 st4">11,588</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 708.6793 593.2324)" class="st3 st4">11,239</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 685.2498 632.368)" class="st3 st4">1,230,963</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 698.5934 669.9212)" class="st2 st3 st4">106,402</text>
	</g>
	<g>
		<g>
			<path class="st1" d="M1087,1v682.4H1V1H1087 M1088,0H0v684.4h1088V0L1088,0z"></path>
		</g>
		<line class="st5" x1="0" y1="489.1" x2="1088" y2="489.1"></line>
		<line class="st5" x1="0" y1="450.1" x2="1088" y2="450.1"></line>
		<line class="st5" x1="0" y1="411" x2="1088" y2="411"></line>
		<line class="st5" x1="0" y1="372" x2="1088" y2="372"></line>
		<line class="st5" x1="0" y1="332.9" x2="1088" y2="332.9"></line>
		<line class="st5" x1="0" y1="293.8" x2="1088" y2="293.8"></line>
		<line class="st5" x1="0" y1="254.8" x2="1088" y2="254.8"></line>
		<line class="st5" x1="0" y1="215.7" x2="1088" y2="215.7"></line>
		<line class="st5" x1="0" y1="176.7" x2="1088" y2="176.7"></line>
		<line class="st5" x1="0" y1="137.6" x2="1088" y2="137.6"></line>
		<line class="st5" x1="0" y1="645.4" x2="1088" y2="645.4"></line>
		<line class="st5" x1="0" y1="606.3" x2="1088" y2="606.3"></line>
		<line class="st5" x1="0" y1="567.2" x2="1088" y2="567.2"></line>
		<line class="st5" x1="0" y1="528.2" x2="1088" y2="528.2"></line>
		<line class="st5" x1="0" y1="98.6" x2="1088" y2="98.6"></line>
		<line class="st5" x1="0" y1="59.5" x2="1088" y2="59.5"></line>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 20.6207  24.5349)" class="st2 st3 st4">Operating expenses:</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 40.6209 84.5154)" class="st3 st4">JOBS:</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 593.6494)" class="st3 st4">Marketing</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 80.6209 632.7856)" class="st3 st4">Total operating expenses</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 80.6205 669.9211)" class="st2 st3 st4">Operating income</text>
	</g>
	
	<g>
		<text transform="matrix(1 0 0 1 698.5936 437.1056)" class="st3 st4">139,464</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 707.4919 476.493)" class="st3 st4">13,737</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 716.3906 514.9601)" class="st3 st4">5,819</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 716.3903 554.0964)" class="st3 st4">4,717</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 40.6205 397.9692)" class="st3 st4">JobsOhio:</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 437.1055)" class="st3 st4">Economic development programs</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 476.2416)" class="st3 st4">Salaries and benefits</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 515.3777)" class="st3 st4">Professional services</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6169 554.5134)" class="st3 st4">Administrative and support</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 970.0673 593.2324)" class="st3 st4">10,757</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 947.8251 632.368)" class="st3 st4">1,131,669</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 963.5438 669.9212)" class="st2 st3 st4">111,845</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 962.3564 437.1056)" class="st3 st4">118,537</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 970.0671 476.493)" class="st3 st4">15,810</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 978.9658 514.9601)" class="st3 st4">6,290</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 978.9656 554.0964)" class="st3 st4">5,099</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 961.1691 123.2855)" class="st3 st4">727,017</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 970.0677 162.8356)" class="st3 st4">67,358</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 970.0677 201.558)" class="st3 st4">49,475</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 970.0674 241.1076)" class="st3 st4">55,197</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 970.0674 280.2435)" class="st3 st4">16,738</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 970.0678 319.7975)" class="st3 st4">48,199</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 971.2551 359.1849)" class="st3 st4">11,192</text>
	</g>
	<text transform="matrix(1 0 0 1 655.8083 123.2855)" class="st3 st4">$</text>
	<text transform="matrix(1 0 0 1 918.3515 123.2855)" class="st3 st4">$</text>
	<g>
		<text transform="matrix(1 0 0 1 655.3283 669.921)" class="st2 st3 st4">$</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 917.8715 669.921)" class="st2 st3 st4">$</text>
	</g>
</g>
</svg></div>

								<div class="flex column table-wrap"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1088 372" style="enable-background:new 0 0 1088 372;" xml:space="preserve" class="jo-svg-table fin-table jo-rev-table">
<style type="text/css">
	.jo-rev-table .st0{fill:#77787B;}
	.jo-rev-table  .st1{fill:#FFFFFF;}
	.jo-rev-table  .st2{font-family:'ArialMT';}
	.jo-rev-table  .st3{font-size:16px;}
	.jo-rev-table  .st4{fill:#E6E7E8;}
	.jo-rev-table .st5{fill:none;stroke:#E6E7E8;stroke-miterlimit:10;}
</style>
<g>
	<g>
		<rect class="st0" width="1088" height="39.1" y="0"></rect>
		<rect y="332.5" class="st0" width="1088" height="39.1"></rect>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 882.9609 44.9846)" class="st1 st2 st3"></text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 620.4095 44.9846)" class="st1 st2 st3"></text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 606.4896 25.1225)" class="st1 st2 st3"></text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 869.0811 25.1225)" class="st1 st2 st3"></text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6247 123.6994)" class="st2 st3">Retail net liquor sales</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6168 162.8358)" class="st2 st3">Wholesale net liquor sales</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6168 201.9717)" class="st2 st3">Distribution center revenue</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 690.3647 123.2858)" class="st2 st3">977,689</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 690.3641 162.8358)" class="st2 st3">349,200</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 708.1609 201.5581)" class="st2 st3">7,400</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 708.1609 280.2432)" class="st2 st3">2,698</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 721.5045 319.6306)" class="st2 st3">378</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 677.0202 356.6183)" class="st1 st2 st3">1,337,365</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 952.9553 123.2858)" class="st2 st3">900,036</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 952.9555 162.8358)" class="st2 st3">333,945</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 970.7515 201.5581)" class="st2 st3">6,851</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 970.7515 280.2432)" class="st2 st3">2,399</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 984.0952 319.6306)" class="st2 st3">283</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 939.6108 356.6183)" class="st1 st2 st3">1,243,514</text>
	</g>
	<g>
		<g>
			<path class="st4" d="M1087,1v370H1V1H1087 M1088,0H0v372h1088V0L1088,0z"></path>
		</g>
		<line class="st5" x1="0" y1="332.9" x2="1088" y2="332.9"></line>
		<line class="st5" x1="0" y1="293.8" x2="1088" y2="293.8"></line>
		<line class="st5" x1="0" y1="254.8" x2="1088" y2="254.8"></line>
		<line class="st5" x1="0" y1="215.7" x2="1088" y2="215.7"></line>
		<line class="st5" x1="0" y1="176.7" x2="1088" y2="176.7"></line>
		<line class="st5" x1="0" y1="137.6" x2="1088" y2="137.6"></line>
		<line class="st5" x1="0" y1="372" x2="1088" y2="372"></line>
		<line class="st5" x1="0" y1="98.6" x2="1088" y2="98.6"></line>
		<line class="st5" x1="0" y1="59.5" x2="1088" y2="59.5"></line>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 20.6207 24.5349)" class="st1 st2 st3">Operating revenues:</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 40.6207 84.5154)" class="st2 st3">JOBS:</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 40.6205 241.107)" class="st2 st3">JobsOhio:</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6168 280.2433)" class="st2 st3">Interest income - loans</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 60.6168 319.3792)" class="st2 st3">Fees and other</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 80.6205 357.0354)" class="st1 st2 st3">Total operating revenues</text>
	</g>
	<text transform="matrix(1 0 0 1 655.8083 123.6992)" class="st2 st3">$</text>
	<g>
		<text transform="matrix(1 0 0 1 655.8083 356.6185)" class="st1 st2 st3">$</text>
	</g>
	<text transform="matrix(1 0 0 1 918.3515 123.6992)" class="st2 st3">$</text>
</g>
</svg></div>


<div class="flex column jo-financial-disclaimer">
								 	<h3>JobsOhio</h3>
									<p>JobsOhio is a 501(c)(4) private nonprofit corporation and the sole member of JobsOhio Beverage System (JOBS), a 501(c)(3) private nonprofit corporation. The primary source of funding for JobsOhio is grants from JOBS. These grants enable JobsOhio to fulfill its economic development purpose by promoting job creation and new capital investment in Ohio through business attraction, retention and expansion activities.
									</p>
								</div>
								<div class="flex column jo-financial-disclaimer">
								 	<h3>JobsOhio Beverage System</h3>
									<p>On Feb. 1, 2013, JOBS purchased from the state an exclusive franchise for the sale of spirituous liquor throughout Ohio. In addition to the initial cash payment, JOBS committed to make supplemental payments as further consideration for this acquisition based on the performance of the liquor enterprise. JOBS operates the enterprise in part through a contract with Ohio Department of Commerce and its Division of Liquor Control. JOBS grants the net profits of the liquor enterprise to JobsOhio.
									</p>
								</div>

							</div>