* {
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Georgia";
  src: url("Georgia.09884298.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/*=======================================*\
 *            Global stylings            *
\*=======================================*/
#c5-container {
  /*================================================*\
   *           Animation related styling            *
  \*================================================*/
  /*================================================*\
   *            Section-specific styling            *
  \*================================================*/
}
#c5-container h1, #c5-container h2, #c5-container h3, #c5-container p {
  color: #FFFFFF;
}
#c5-container h1 {
  font-family: "Georgia", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  margin: 0;
}
@media (min-width: 992px) {
  #c5-container h1 {
    font-size: 64px;
    line-height: 73px;
  }
}
#c5-container h2 {
  max-width: 812px;
  font-family: "Georgia", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}
@media (min-width: 992px) {
  #c5-container h2 {
    font-size: 32px;
    line-height: 46px;
  }
}
#c5-container h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}
#c5-container h3.sm {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
#c5-container h3.lg {
  margin-right: 12px;
  font-size: 72px;
  line-height: 54px;
}
@media (min-width: 480px) {
  #c5-container h3.lg {
    margin-right: 33px;
  }
}
#c5-container h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 84px;
  color: #E1251B;
  margin: 0;
}
#c5-container p {
  max-width: 812px;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 1.333333333em;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 768px) {
  #c5-container p {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 992px) {
  #c5-container p {
    font-size: 24px;
    line-height: 32px;
  }
}
#c5-container p.sm {
  font-size: 16px;
  line-height: 1.333333333em;
}
@media (min-width: 768px) {
  #c5-container p.sm {
    font-size: 18px;
  }
}
#c5-container p:last-child {
  margin-bottom: 0;
}
#c5-container button.primary, #c5-container .button.primary {
  display: block;
  width: 167px;
  height: 45px;
  min-height: 45px;
  flex-shrink: 0;
  margin: 0;
  background-color: #F9BF12;
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #393A41;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  padding: 2px 6px 2px 6px;
  transition: opacity 0.3s;
}
#c5-container button.primary:hover, #c5-container .button.primary:hover {
  opacity: 0.7 !important;
}
#c5-container button.primary.arrow, #c5-container .button.primary.arrow {
  width: 45px;
  margin-right: 16px;
}
#c5-container button.primary img, #c5-container .button.primary img {
  transform: rotate(90deg);
}
#c5-container section {
  padding: 48px 0;
  position: relative;
}
@media (min-width: 768px) {
  #c5-container section {
    padding: 64px 0;
  }
}
@media (min-width: 992px) {
  #c5-container section {
    padding: 90px 0 calc(90px + 6vh);
  }
}
#c5-container .inner {
  width: calc(100% - 50px);
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 768px) {
  #c5-container .inner {
    align-items: center;
  }
}
@media (min-width: 768px) {
  #c5-container .inner {
    width: calc(100% - 140px);
    margin: 0 70px;
  }
}
@media (min-width: 992px) {
  #c5-container .inner {
    width: 932px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  #c5-container .inner {
    width: 1140px;
    margin: 0 auto;
  }
}
#c5-container .flex {
  width: 100%;
  max-width: 1088px;
  display: flex;
}
#c5-container .flex.column {
  flex-direction: column;
}
#c5-container .flex.v-center {
  align-items: center;
}
#c5-container .skew {
  width: 100%;
  height: 6vh;
  position: absolute;
  top: calc(-6vh + 1px);
  transform: scaleX(-1);
}
#c5-container .card {
  padding: 25px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  flex-direction: column;
}
@media (min-width: 480px) {
  #c5-container .card {
    padding: 35px 40px;
  }
}
@media (min-width: 992px) {
  #c5-container .card {
    padding: 56px 52px;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  #c5-container .card {
    padding: 76px 92px;
  }
}
#c5-container .card:first-of-type {
  margin: 0 0 20px 0;
}
@media (min-width: 992px) {
  #c5-container .card:first-of-type {
    margin: 0 16px 0 0;
  }
}
#c5-container .card .v-center {
  margin: 20px 0 40px;
}
@media (min-width: 992px) {
  #c5-container .card .v-center {
    margin: 40px 0 60px;
  }
}
#c5-container .card.case-study .v-center {
  margin: 15px 0 35px;
}
@media (min-width: 992px) {
  #c5-container .card.case-study .v-center {
    margin: 25px 0 45px;
  }
}
#c5-container .card p {
  color: #000000;
}
#c5-container .card.card-horizontal {
  height: auto;
  margin: 0;
  border-top: 6px solid #E1251B;
  position: relative;
  align-items: flex-start;
  z-index: 1;
}
@media (min-width: 992px) {
  #c5-container .card.card-horizontal {
    padding: 76px 92px;
  }
}
#c5-container .card.card-horizontal > .flex {
  margin-top: 40px;
}
@media (min-width: 992px) {
  #c5-container .card.card-horizontal > .flex {
    margin: 0;
  }
}
#c5-container .card.card-horizontal > .flex img {
  width: 76px;
  height: 76px;
  margin: 0 16px 0 0;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  #c5-container .card.card-horizontal > .flex img {
    margin: 0 16px;
  }
}
#c5-container .card.card-horizontal .quotation {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: scale(-1);
  z-index: -1;
}
#c5-container .card.card-horizontal p {
  max-width: 100%;
  margin: 0;
  color: #E1251B;
}
#c5-container .card.card-horizontal p:last-child {
  min-width: 168px;
  color: #000000;
}
#c5-container .table-wrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
@media (min-width: 768px) {
  #c5-container .table-wrap {
    overflow-x: inherit;
  }
}
#c5-container .table-wrap table {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
#c5-container .table-wrap table th, #c5-container .table-wrap table td {
  padding: 12px 20px;
  text-align: center;
}
#c5-container .table-wrap table th:first-child, #c5-container .table-wrap table td:first-child {
  text-align: left;
}
#c5-container .table-wrap table tr {
  border-bottom: 1px solid #E6E7E8;
  border-collapse: collapse;
  background-color: #FFFFFF;
}
#c5-container .table-wrap table tr.black {
  background-color: #231F20;
  color: #FFFFFF;
  border-bottom: none;
}
#c5-container .drawer .drawer-top .control {
  cursor: pointer;
}
#c5-container .drawer .drawer-top h2 {
  margin-bottom: 20px;
  color: #000000;
}
#c5-container .drawer .drawer-top p {
  margin: 60px 0 0;
}
#c5-container .drawer .drawer-bottom {
  overflow: hidden;
}
#c5-container .drawer .drawer-bottom.closed {
  height: 0;
}
#c5-container .top-line {
  width: 0%;
  height: 6px;
  background-color: #E1251B;
}
#c5-container .red {
  color: #E1251B;
}
#c5-container .yellow {
  color: #F9BF12;
}
#c5-container .report-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #393A41;
  z-index: 25;
  overflow: auto;
  justify-content: center;
  align-items: center;
}
#c5-container .report-modal .inner {
  position: relative;
  width: 95%;
  max-width: 850px;
  margin: 0 20px;
  background-color: #FFFFFF;
  padding: 25px 7.5%;
  padding-right: 0;
  border-top: 6px solid #E1251B;
}
@media (min-width: 480px) {
  #c5-container .report-modal .inner {
    width: 80%;
    margin: 0;
  }
}
@media (min-width: 992px) {
  #c5-container .report-modal .inner {
    width: 80%;
    padding: 75px 85px;
    padding-right: 0;
  }
}
#c5-container .report-modal .inner .content {
  max-height: 100%;
  overflow: auto;
  padding-right: 8%;
  max-height: calc(85vh - 50px);
}
@media (min-width: 992px) {
  #c5-container .report-modal .inner .content {
    padding-right: 80px;
    max-height: calc(88vh - 150px);
  }
}
#c5-container .report-modal .inner .content .author img {
  margin-right: 16px;
}
#c5-container .report-modal .inner .content .author p {
  margin-bottom: 0;
}
#c5-container .report-modal .inner p {
  color: #000000;
  margin-bottom: 1em;
}
#c5-container .report-modal .inner p:last-of-type {
  margin-bottom: 1.5em;
}
#c5-container .report-modal .inner button.primary.close {
  width: 40px;
  height: 40px;
  min-height: inherit;
  border: 0;
  border-radius: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -55%);
}
#c5-container .report-modal .inner button.primary.close svg {
  width: 50%;
  height: 50%;
}
@media (min-width: 480px) {
  #c5-container .report-modal .inner button.primary.close svg {
    width: auto;
    height: auto;
  }
}
#c5-container .report-modal .inner button.primary.close:hover, #c5-container .report-modal .inner button.primary.close:focus {
  opacity: 1 !important;
}
@media (min-width: 480px) {
  #c5-container .report-modal .inner button.primary.close {
    width: 60px;
    height: 60px;
  }
}
#c5-container .bg-gray {
  background-color: #ECECEC;
}
#c5-container .fade-up {
  opacity: 0;
}
#c5-container .count-up {
  opacity: 0;
  font-variant-numeric: tabular-nums;
}
#c5-container .report-nav {
  position: sticky;
  right: 0;
  top: 50px;
  z-index: 20;
  height: 0;
  overflow: visible;
}
#c5-container .report-nav button.hamburger {
  position: relative;
  background-color: transparent;
  border: none;
  z-index: 1001;
  display: block;
  margin-left: auto;
  outline: 0;
}
.no-scroll #c5-container .report-nav button.hamburger {
  margin-right: 15px;
}
#c5-container .report-nav button.hamburger line {
  transform-origin: center;
}
#c5-container .report-nav .menu {
  position: fixed;
  background-color: #393A41;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 30px;
  overflow: auto;
  display: none;
  flex-direction: column;
}
@media (min-width: 768px) {
  #c5-container .report-nav .menu {
    justify-content: center;
    align-items: center;
  }
}
#c5-container .report-nav .menu h1 {
  width: 240px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  #c5-container .report-nav .menu h1 {
    width: 100%;
  }
}
#c5-container .report-nav .menu ul {
  list-style: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#c5-container .report-nav .menu ul li {
  border-top: 6px red solid;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-right: 0;
  width: 100%;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  #c5-container .report-nav .menu ul li {
    flex-direction: row;
    margin-right: 3.3333%;
    width: 260px;
    height: 100px;
    padding-right: 30px;
  }
}
#c5-container .report-nav .menu ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
#c5-container .report-nav .menu ul li a:hover {
  text-decoration: underline;
}
#c5-container .report-nav .menu .links {
  overflow: auto;
  flex-shrink: 0;
  max-width: 100%;
}
@media (min-width: 768px) {
  #c5-container .report-nav .menu .links {
    margin-bottom: 160px;
  }
}
#c5-container .report-nav .menu .cta {
  background-color: #FFFFFF;
  position: relative;
  width: 100%;
  height: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  left: 0;
  display: flex;
  margin: 0;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  #c5-container .report-nav .menu .cta {
    height: 160px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
  }
}
#c5-container .report-nav .menu .cta .inner {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 768px) {
  #c5-container .report-nav .menu .cta .inner {
    flex-direction: row;
    justify-content: space-between;
  }
}
#c5-container .report-nav .menu .cta .inner .flex {
  justify-content: center;
}
@media (min-width: 768px) {
  #c5-container .report-nav .menu .cta .inner .flex {
    justify-content: flex-start;
  }
}
#c5-container .report-nav .menu .cta .social-link .fa-stack {
  transition: opacity 0.3s;
}
#c5-container .report-nav .menu .cta .social-link .fa-stack:hover {
  opacity: 0.7;
}
#c5-container .report-nav .menu .cta .social-link:not(:last-of-type) .fa-stack {
  margin-right: 35px;
}
#c5-container .report-nav .menu .cta .social-link:nth-of-type(1) .fa-stack .fa-circle {
  color: #3B5998;
}
#c5-container .report-nav .menu .cta .social-link:nth-of-type(2) .fa-stack .fa-circle {
  color: #0072B1;
}
#c5-container .report-nav .menu .cta .social-link:nth-of-type(3) .fa-stack .fa-circle {
  color: #00ACEE;
}
#c5-container .report-nav .menu .cta .fa-stack-1x {
  color: #FFFFFF;
}
#c5-container .hero {
  padding-bottom: 96px;
  overflow: hidden;
}
#c5-container .hero .bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#c5-container .hero .bg-slide.slide-1 {
  background-image: url("hero-1.472c1bf5.jpg");
  background-position-x: 64%;
}
@media (min-width: 480px) {
  #c5-container .hero .bg-slide.slide-1 {
    background-position-x: center;
  }
}
#c5-container .hero .bg-slide.slide-2 {
  background-image: url("hero-2.aee89b26.jpg");
  opacity: 0;
  background-position-x: 41%;
}
@media (min-width: 480px) {
  #c5-container .hero .bg-slide.slide-2 {
    background-position-x: center;
  }
}
#c5-container .hero .bg-slide.slide-3 {
  background-image: url("hero-3.19bab230.jpg");
  opacity: 0;
  background-position-x: 33%;
}
@media (min-width: 480px) {
  #c5-container .hero .bg-slide.slide-3 {
    background-position-x: center;
  }
}
#c5-container .hero h1, #c5-container .hero h2, #c5-container .hero p, #c5-container .hero .text-effect, #c5-container .hero .down-arrow {
  z-index: 5;
}
#c5-container .hero h1 {
  margin-top: 2rem;
  max-width: 70%;
}
@media (min-width: 768px) {
  #c5-container .hero h1 {
    max-width: 85%;
  }
}
#c5-container .hero h2 {
  margin: 60px 0;
}
#c5-container .hero p {
  margin-bottom: 3rem;
}
#c5-container .hero .text-effect {
  position: relative;
  overflow: hidden;
  opacity: 0;
}
#c5-container .hero .text-effect .line {
  position: absolute;
  width: 80%;
  bottom: 0;
  height: 5px;
  background-color: #E1251B;
}
#c5-container .hero .down-arrow {
  transform: scaleY(-1);
  margin-top: 60px;
  opacity: 0;
  width: 22px;
  height: 14px;
  margin-left: auto;
  margin-right: auto;
}
#c5-container .leadership {
  background-color: #E1251B;
  z-index: 10;
}
@media (min-width: 992px) {
  #c5-container .leadership {
    height: 570px;
  }
}
#c5-container .leadership .skew {
  z-index: 5;
}
#c5-container .leadership .card-wrapper {
  padding-top: 55px;
  flex-direction: column;
  z-index: 1;
}
@media (min-width: 992px) {
  #c5-container .leadership .card-wrapper {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  #c5-container .leadership .card {
    width: calc(50% - 8px);
  }
}
#c5-container .leadership .card .sm {
  margin-left: 16px;
}
#c5-container .leadership .card:last-of-type {
  margin-bottom: -170px;
}
@media (min-width: 992px) {
  #c5-container .leadership .card:last-of-type {
    margin-bottom: 0;
  }
}
#c5-container .past .inner {
  margin-top: 175px;
  margin-bottom: 60px;
}
#c5-container .past .quad-wrapper {
  flex-direction: column;
}
@media (min-width: 992px) {
  #c5-container .past .quad-wrapper {
    flex-direction: row;
  }
}
#c5-container .past .flex > .column {
  margin: 0 0 40px 0;
}
@media (min-width: 992px) {
  #c5-container .past .flex > .column {
    margin: 0 16px 0 0;
  }
}
#c5-container .past h2, #c5-container .past p {
  color: #000000;
}
#c5-container .past h2 {
  margin: 60px 0 40px;
}
#c5-container .past h3 {
  color: #A8A8A8;
}
#c5-container .past h4 {
  margin-bottom: 10px;
}
#c5-container .results {
  background-color: #393A41;
  padding-bottom: 76px;
}
@media (min-width: 992px) {
  #c5-container .results .inner > .flex:not(:last-of-type) {
    margin-bottom: 60px;
  }
}
#c5-container .results .inner > .flex:nth-of-type(2) {
  flex-direction: column;
}
@media (min-width: 992px) {
  #c5-container .results .inner > .flex:nth-of-type(2) {
    flex-direction: row;
  }
}
#c5-container .results .inner > .flex:nth-of-type(3), #c5-container .results .inner > .flex:nth-of-type(5) {
  margin-bottom: 20px;
}
#c5-container .results .flex-left {
  width: 444px;
  flex-shrink: 0;
  max-width: 100%;
}
@media (min-width: 992px) {
  #c5-container .results .flex-left {
    margin-right: 100px;
  }
}
#c5-container .results .flex-right h3 {
  margin-bottom: 60px;
}
#c5-container .results .card {
  width: calc(100% + 50px);
  margin: 40px 0 40px -25px;
  border-top: 6px solid #E1251B;
}
@media (min-width: 768px) {
  #c5-container .results .card {
    width: calc(100% + 70px);
    margin: 40px 0 40px -35px;
  }
}
@media (min-width: 992px) {
  #c5-container .results .card {
    width: 100%;
    margin: 40px 0 0;
  }
}
#c5-container .results .card h3 {
  color: #A8A8A8;
}
#c5-container .results .card h3:first-of-type {
  margin-bottom: 20px;
}
#c5-container .results .card .sm {
  margin: 20px 0;
}
#c5-container .results .card-wrapper {
  flex-direction: column;
}
@media (min-width: 992px) {
  #c5-container .results .card-wrapper {
    flex-direction: row;
  }
}
#c5-container .results .card-wrapper .card:first-of-type {
  margin-right: 16px;
}
#c5-container .results .card-wrapper .card .sm {
  margin-left: 16px;
}
#c5-container .results table th, #c5-container .results table td {
  padding: 12px 0;
}
#c5-container .results table th:first-child, #c5-container .results table td:first-child {
  padding-left: 20px;
  text-align: left;
  font-weight: 600;
}
#c5-container .results table th:last-child, #c5-container .results table td:last-child {
  font-weight: 600;
}
#c5-container .results table th {
  background-color: #E1251B;
  color: #FFFFFF;
}
#c5-container .results .industry td:last-child {
  font-weight: 300;
}
#c5-container .strategy {
  background-image: url("strategy.7490d6fb.jpg");
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 992px) {
  #c5-container .strategy {
    height: 760px;
    padding-top: 135px;
  }
}
@media (min-width: 1200px) {
  #c5-container .strategy {
    height: 700px;
  }
}
#c5-container .strategy .skew {
  top: 0;
}
#c5-container .strategy h2 {
  margin: 60px 0;
}
#c5-container .forward {
  padding: 60px 0 0;
}
#c5-container .forward .inner {
  margin-top: 90px;
}
#c5-container .forward p {
  color: #000000;
}
#c5-container .forward picture {
  margin-top: 30px;
}
#c5-container .forward picture img {
  width: 100%;
  max-width: 480px;
}
@media (min-width: 992px) {
  #c5-container .forward picture img {
    max-width: 100%;
  }
}
#c5-container .forward .card {
  margin-top: 60px;
  position: relative;
}
#c5-container .forward .bg-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  padding-bottom: 65%;
}
@media (min-width: 992px) {
  #c5-container .forward .bg-image {
    height: auto;
    padding-bottom: 0;
  }
}
#c5-container .forward .goal p {
  max-width: 80%;
}
#c5-container .forward .drawer {
  width: calc(100% + 50px);
  margin: 60px 0 0 -25px;
  border-top: 6px solid #E1251B;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}
#c5-container .forward .drawer:nth-of-type(even) .intro .flex-left {
  margin: 0;
  order: 1;
}
#c5-container .forward .drawer:nth-of-type(even) .intro .flex-right {
  margin: 20px 0 40px;
  order: 0;
}
@media (min-width: 768px) {
  #c5-container .forward .drawer {
    width: calc(100% + 70px);
    margin: 60px 0 0 -35px;
  }
}
@media (min-width: 992px) {
  #c5-container .forward .drawer {
    width: 100%;
    margin: 60px 0 0;
  }
  #c5-container .forward .drawer:nth-of-type(even) .intro .flex-left {
    margin: 0 40px 0 0;
    order: 0;
  }
  #c5-container .forward .drawer:nth-of-type(even) .intro .flex-right {
    margin: 0;
    order: 1;
  }
}
#c5-container .forward .drawer .intro {
  padding: 0 35px 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #393A41;
}
@media (min-width: 992px) {
  #c5-container .forward .drawer .intro {
    padding: 92px 76px;
    flex-direction: row;
  }
}
#c5-container .forward .drawer .intro .drawer-icon {
  width: 76px;
  height: 76px;
}
@media (min-width: 992px) {
  #c5-container .forward .drawer .intro .drawer-icon {
    position: absolute;
    top: 0;
  }
}
#c5-container .forward .drawer .intro .flex-left {
  margin: 20px 0 40px;
}
@media (min-width: 992px) {
  #c5-container .forward .drawer .intro .flex-left {
    margin: 0 40px 0 0;
  }
}
#c5-container .forward .drawer .intro p {
  margin: 20px 0 0px;
  color: #FFFFFF;
}
#c5-container .forward .drawer .intro .bg-image {
  position: relative;
  overflow: hidden;
}
#c5-container .forward .drawer .intro .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #E1251B;
  width: 100%;
  height: 100%;
}
#c5-container .forward .drawer .drawer-top {
  padding: 60px 35px;
  background-color: #ECECEC;
}
@media (min-width: 992px) {
  #c5-container .forward .drawer .drawer-top {
    padding: 60px 76px;
  }
}
#c5-container .forward .drawer .drawer-bottom {
  overflow: hidden;
}
#c5-container .forward .drawer .drawer-bottom.closed {
  height: 0;
}
#c5-container .forward .drawer .drawer-bottom > .flex {
  padding: 0px 35px 60px;
}
#c5-container .forward .drawer .drawer-bottom > .flex:nth-child(2) {
  padding-top: 60px;
}
@media (min-width: 992px) {
  #c5-container .forward .drawer .drawer-bottom > .flex {
    padding: 0px 76px 60px;
    flex-direction: row;
  }
}
#c5-container .forward .drawer .drawer-bottom > .flex > .column > .flex {
  flex-direction: column;
}
@media (min-width: 992px) {
  #c5-container .forward .drawer .drawer-bottom > .flex > .column > .flex {
    flex-direction: row;
  }
}
#c5-container .forward .drawer .drawer-bottom p.sm {
  max-width: 720px;
  margin-bottom: 40px;
}
#c5-container .forward .drawer .drawer-bottom img {
  width: 168px;
  height: 168px;
  margin: 0 16px 20px 0;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  #c5-container .forward .drawer .drawer-bottom img {
    margin: 0 16px 0 0;
  }
}
#c5-container .forward .drawer .drawer-bottom h3 {
  margin-bottom: 20px;
  color: #000000;
}
#c5-container .forward .drawer .drawer-bottom h3.lg {
  color: #F9BF12;
}
#c5-container .forward .strat-1 .bg-image {
  background-image: url("building.7c868407.jpg");
}
#c5-container .forward .strat-2 .bg-image {
  background-image: url("shaping.876151b5.jpg");
  background-position: center right;
}
#c5-container .forward .strat-3 .bg-image {
  background-image: url("focusing.300bc177.jpg");
}
#c5-container .forward .strat-4 .bg-image {
  background-image: url("making.27996b99.jpg");
}
#c5-container .financial {
  padding-bottom: 60px;
}
#c5-container .financial h3 {
  color: #A8A8A8;
}
#c5-container .financial h3.sm {
  color: #393A41;
}
#c5-container .financial h2 {
  margin: 60px 0 20px;
  color: #000000;
}
#c5-container .financial .drawer-bottom p, #c5-container .financial .drawer-bottom td {
  color: #000000;
}
#c5-container .financial .drawer-bottom p {
  margin-top: 60px;
  margin-bottom: 1em;
}
#c5-container .financial table {
  border: 1px solid #E6E7E8;
  margin-bottom: 60px;
}
#c5-container .financial table:last-of-type {
  margin-bottom: 0;
}
#c5-container .financial table th {
  background-color: #77787B;
  color: #FFFFFF;
}
#c5-container .financial table tr.subheading td:first-child {
  padding-left: 40px;
  font-weight: 700;
}
#c5-container .financial table tr.subtotal {
  background-color: #E6E7E8;
}
#c5-container .financial table tr.subtotal td:first-child {
  padding-left: 80px;
}
#c5-container .financial table tr.total {
  background-color: #77787B;
}
#c5-container .financial table tr.total td {
  color: #FFFFFF;
  font-weight: 700;
}
#c5-container .financial table tr.total td:first-child {
  padding-left: 80px;
}
#c5-container .financial table tr.total.black {
  background-color: #000000;
}
#c5-container .financial table tr td:first-child {
  padding-left: 60px;
}
#c5-container .financial table tr td:nth-child(2), #c5-container .financial table tr td:nth-child(3) {
  text-align: right;
}
#c5-container .conclusion {
  background-image: url("conclusion.1dd308ca.jpg");
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 992px) {
  #c5-container .conclusion {
    height: 800px;
  }
}
@media (min-width: 1200px) {
  #c5-container .conclusion {
    height: 750px;
  }
}
#c5-container .conclusion .skew {
  top: 0;
}
#c5-container .conclusion h2 {
  max-width: 902px;
  margin: 60px 0;
}
@media (min-width: 992px) {
  #c5-container .social {
    padding: 280px 0 90px;
  }
  #c5-container .social .inner > .flex {
    flex-direction: row;
  }
}
#c5-container .social .flex-left {
  margin-bottom: 60px;
}
@media (min-width: 992px) {
  #c5-container .social .flex-left {
    margin-bottom: 0;
  }
}
#c5-container .social h3 {
  color: #A8A8A8;
}
#c5-container .social .button.primary,
#c5-container .social .fa-stack {
  margin-top: 40px;
}
#c5-container .social .button.primary {
  width: 257px;
}
#c5-container .social .social-link .fa-stack {
  transition: opacity 0.3s;
}
#c5-container .social .social-link .fa-stack:hover {
  opacity: 0.7;
}
#c5-container .social .social-link:not(:last-of-type) .fa-stack {
  margin-right: 35px;
}
#c5-container .social .social-link:nth-of-type(1) .fa-stack .fa-circle {
  color: #3B5998;
}
#c5-container .social .social-link:nth-of-type(2) .fa-stack .fa-circle {
  color: #0072B1;
}
#c5-container .social .social-link:nth-of-type(3) .fa-stack .fa-circle {
  color: #00ACEE;
}
#c5-container .social .fa-stack {
  transition: opacity 0.3s;
}
#c5-container .social .fa-stack:hover {
  opacity: 0.7;
}
#c5-container .social .fa-stack-1x {
  color: #FFFFFF;
}

/*# sourceMappingURL=main.d58fa2c3.css.map */