.lg-backdrop, .lg-outer { z-index: 9999999; }
.home .page-group-main {     border-top: 1px solid #ccc; }
#lg-actual-size, #lg-zoom-in, #lg-zoom-out, #lg-share, .lg-fullscreen { display: none !important; } 
@media (min-width: 768px) {
.media-pr-template-default .media-pr { margin-top:80px !important; }
.unit-employees-main .col-sm-6 { width:32%;  }
#primarybkup { margin-top:100px; }
body, body.page {     padding-top: 141px;   }
.blogrightcol { margin-top:-180px; }
.single-news-posts .blogrightcol { margin-top:-150px; }
.single-media-pr .blogrightcol { margin-top:-150px; }

.blogrightcol .widget_jobsohio-button { margin-bottom:0 !important; }
}
.post-password-required .entry-content { margin:120px 0; }
.single .media-pr.hentry { border-bottom:none; }
.ohio-success .button--download { display: block; }
.widget_categories .cat-item-46, .widget_categories .cat-item-51{ display: none !important; }
.unit-metrics-main.noborder { padding:0; }
body .blogrightcol figcaption {     color: Gray;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-style: italic;
    line-height: 1.3;
    margin: 15px 0 0 0;
    position: relative;  }
.buttons.fullwidth a { display: block; }
.unit-video-post-mainbk { border-top:none; padding-top:0; }
.so-widget-jobsohio-staff { text-align: center; padding-bottom:30px; }
.director:last-child {
    border-bottom: 1px solid #ccc;
    line-height: 1.3;
    margin: 0 0 60px;
    padding: 0 0 60px;
}
.admin-bar #header {
    top: 32px;
}
.media-pr.hentry { border-bottom: 1px solid #ccc;
    margin: 0 0 60px;
    padding: 0 0 24px; }
.jospteamwrap {
    text-align: center !important;
}
article.type-page {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.partner-title a,
.partner-body a {
    text-decoration: none;
}
.staffcenter {
    text-align: center;
}
.jotopborder {
    border-top: 1px solid #ccc;
    padding: 60px 0 24px 0;
}
.topborder {
    border-top: 1px solid #ccc;
}
.team-group.jospteamwrap {
    margin-bottom: 0;
}
.team-group.col-md-4 {
    margin: 0 !important;
    padding: 0 !important;
    width: 32%;
}
.team-group {    text-align: center; }
.sitespostswrap .site {
    text-align: center;
}
.single-site-selection .button--download {
    margin-top: 10px;
}
.post.unit-post-main, .post.unit-spotlight-main{ border-bottom:0; margin-bottom:0px; }
.panel-layout .panel-grid:last-child .post {
    border-bottom: none;
    margin-bottom: 20px;
}
.notopborder {
    border-top: none !important;
}
.successpostswrapbk .col-sm-6 {
    height: 400px;
}


@media (min-width: 768px) {
.textwrapvideo { width:480px; }
.textwrapvideo.alignleft { margin:0 30px 30px 0;}
.textwrapvideo.alignright { margin:0 0 30px 30px;}
}
@media (max-width: 768px) {
.textwrapvideo { width:100% !important; float:none !important; margin:30px 0 !important;}
.widget_jobsohio-videoposttextwrap { padding-left:15px; padding-right:16px; }
}
.textwrapvideo a { z-index:5;}
.widget_jobsohio-videoposttextwrap .unit-video-post-caption { text-align:center;}


/* Utility Map Start */
.jo-map-menu {         display: flex;
    align-items: center;
    justify-content: center;  width: 100%; border-bottom:1px solid #fff; }
.jo-map-menu .jo-map-filter {    flex: 1; padding:14px 4px;  background-color:#333; color:#fff; text-align: center; font-size: 18px; cursor: pointer;  }
.jo-map-menu .jo-map-filter.active { background-color:#e32526; } 
.jo-map { position: relative; }
.jo-map .map-layer  { position: absolute; top: 0; left: 0; opacity: 0;  transition: all 500ms ease; }
.jo-map .map-layer.active  {     visibility: visible;
    opacity: 1;
    }

.jo-map img { max-width: 100%; width:100%; }

@media (max-width: 768px) {
.jo-map-menu .jo-map-filter { font-size: 15px;  }
    }

@media (min-width: 1200px) {
    .utilitymapbkforcefullwidth { width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

}
.showmap .hide.panel-widget-style { display: block !important; }

/* Utility Map End */


.single .post,
.single .news-posts,
.single .media-posts {
    padding-top: 60px;
    border: none;
}
.partner-logo {
    padding-top: 30px;
}
.archive .col-md-9 .post:first-child {
    border-top: 1px solid #ccc;
    padding-top: 60px;
}
@media (min-width: 992px) {
    .team-group .col-md-4 {
        width: 32%;
    }
    .blog-title h3 a {
        font-size: 36px;
    }
}
.type-news-posts {
    border-bottom: 1px solid #ccc;
    margin: 0 0 60px;
    padding: 0 0 24px;
}
.posts-meta h3 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 15px;
}
.unit-image img,
.post-image img {
    max-width: 100%;
    height: auto;
}
.blogwrap .news-posts, .widget_siteorigin-panels-postloop .post {
    border-bottom: 1px solid #ccc !important;
    margin: 0 0 60px !important;
    padding: 0 0 24px;
}
.jonp, .jonp a  { padding:0 !important;}
.single-site-selection .panel-grid {
    border-top: 1px solid #ccc;
    padding: 60px 0 0px 0;
    text-align: center;
}
.single-site-selection .panel-layout .panel-grid:last-child { border:none; padding-top:0; }
.so-widget-sow-button {} .so-widget-sow-button a {
    background-color: #f9bf12 !important;
    color: #333 !important;
    text-decoration: none !important;
    border: none !important;
    padding: 15px 25px !important;
}
.imageprevblock .widget_sow-editor {
    margin-bottom: 0 !important;
}
.josphero {
    height: 720px;
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}
.jospintro {
    background: rgba(227, 37, 38, 0.9) !important;
    margin-top: -10% !important;
    z-index: 999;
    position: relative;
}
.nohero { margin-top:0; } 
.josphero .banner-hero-title {
    color: #fff;
    font-size: 72px !important;
    margin-top: 22% !important;
    display: block;
    height: 100%;
    line-height: 1 !important;
    padding: 0 30px;
    text-align: center;
    text-shadow: 0px 0px 20px #000 !important;
    vertical-align: middle;
}
.fullwidthbanner {
    width: 100%;
    height: 620px;
    max-width: 100%;
    background-size: cover;
    background-position: center top;
    margin-bottom: 30px;
}
.fullwidthbanner.bannerlanding { height:418px; background-position: center center; }
.fullwidthbanner.bannermed { height:520px; background-position: center center; }
.fullwidthbanner.bannerfull { height:720px; }
.flexfullhero { max-width:100% !important; }
.flexfullhero img { width:100% !important; }


@media (min-width: 768px) {
.single-site-selection .fullwidthbanner, .single-ohio-success .fullwidthbanner {
height: 620px;

}
}
@media (min-width: 768px) {
    .fullwidthoffset {
        margin-left: 8.33333333% !important;
    }
}
@media (min-width: 768px) {
    .fullwidthoffset {
        width: 83.33333333% !important;
    }
}
.button--download {
    display: inline-block;
}
body .so-widget-sow-button a span {
    color: #333 !important;
    text-decoration: none !important;
    background-image: none;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
body .so-widget-sow-button a:hover {
    background-color: #333 !important;
    text-decoration: none;
}
body .so-widget-sow-button a:hover span {
    color: #f9bf12 !important;
}
.whitebg .unit-feature-heading {
    color: #000;
    text-align: center;
}
#nav .menu-item-has-children > a {
    background: url(/assets/img/trigger.svg) no-repeat right 50%;
    cursor: pointer !important;
    display: block;
    padding-right: 60px;
}
#nav .menu-item-has-children.open > ul {
    display: block;
}
.unit-feature-heading h3 {
    font-size: 48px;
    text-align: center;
}
.unit-feature-headingbk p {
    font-size: 24px;
    line-height: 1.375;
}
.page {
    padding-top: 0;
}
#main {
    margin: 0 auto;
    max-width: 1200px;
}
.copywrap {
    margin-bottom: 16px;
}
.admin-bar .sticky-header {} .so-widget-sow-headline h3 {
    font-size: 36px;
    color: #333;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
}

.post-password-form input[type="submit"] {  
background-color: #f9bf12; color: #333 !important;
    }

.cookiebtn {    background-color: #f9bf12;
    color: #333 !important;     margin-left: 10px;     display: inline-block; line-height: 20px;     padding: 2px 10px;
    font-size: 12px; text-decoration: none !important; }
 .iconrowbk .panel-grid-cell { display: inline-block !important; width:23% !important; text-align: center; }


@media (max-width: 480px) {
.sitespostswrap .col-sm-6 { min-height: 250px; width: 100%;  }
.phone-2col {     flex-direction: row !important; flex-wrap: wrap !important; }
.phone-2col .panel-grid-cell {   flex-basis:48%; }

}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1200px) {
#main {
    margin: 0 auto;
    max-width: 100%;
}
  
  }
  @media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
#main {
    margin: 0 auto;
    max-width: 95%;
}
  
  }


  /* Start Header V2.0 */

  .phoneicon { width:14px; position: relative; left: -4px; top: -1px; }
    a.whitebtn { background-color:#fff !important; color: #f40000 !important;  text-transform: uppercase; padding: 2px 31px; text-align: center; font-size:15px; font-weight: 600; border-radius: 4px; display: inline-block; margin: 9px 0 0 30px; }
      a.redbtn {
    background-color: #f40000 !important;
    color: #fff !important;
    text-transform: uppercase;
    padding: 2px 31px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    display: inline-block;
    margin: 9px 0 0 30px;
 }
 .menu-item-5 svg, .menu-item-3076 svg { width:18px; height: 18px; }
@media (min-width: 1200px) {
   
    #header { height: 168px; }

    .topbar { background-color:#53555a; }
    .topbarbk .row { margin:0 auto; width:1200px; max-width: 100%; }
    .topbarleft h4 { color: #fff; line-height: 47px; padding: 0; margin: 0; font-size:15px; }
    .topbarright a { color:#fff; text-decoration: none; }
    #logo {left: 0;position: relative;margin-left: 0;     top: 14px; }
    #search-header { left: unset; right: 0px; top: 50px; display: none; width: 250px;  }
    #desktop-nav ul li:hover > ul { display: block !important; }
    #header { overflow: visible; }
    .header-main .row > div { padding: 0; }
   
    #searchicon{ background-color: transparent; border: none; position: absolute; right: 0px; top: 50px; z-index: 9; }
    .search__query { top: 30px; left: 40px; border: 1px solid #ccc !important; opacity: 0; height: 0px; display: none; }
    .search__query.open { opacity: 1; height: 38px; line-height: 38px; }
    #desktop-nav { margin-top:50px; }
    #desktop-nav ul li { display: inline-block; list-style: none; position: relative;  }
        #desktop-nav ul li a { font-size:16px; font-weight: 600; }
        #desktop-nav ul li a:hover { color:#e32526; }
    #primary-menu > li > a { color: #000; text-transform: uppercase; text-decoration: none; padding: 12px 11px;  }
    #desktop-nav ul li ul { display: none; }
      #desktop-nav ul li > ul {  position: absolute; top: 30px; left: 0px; padding: 18px 0; z-index: 9; background-color:#fff; box-shadow: 0 0 10px rgba(0,0,0,0.2); width: 280px;  }
       #desktop-nav ul li > ul li ul { position: relative; top: unset; padding: 0; margin: 0; width: auto; padding-left:22px; box-shadow: none; }
       

       #desktop-nav ul li > ul li.menu-item-has-children>a:after {
    color: #e32526;
    content: ' ▼';
    font-size: 10px;
    vertical-align: 1px;
}


      #desktop-nav ul li > ul li a { color: #000; padding: 4px 18px; font-weight: 300; text-decoration: none; font-size:18px; display: block; }
      #desktop-nav ul li ul li { display: block; }
    .topbarright { text-align: right; }
    .header-main { position: relative; }
    #logo img { width:200px; }

    .headroom--unpinned {
    transform: translateY(-100px);
}
 .headroom--unpinned #logo img {
    width: 120px;
    margin-top: 38px;
}  
#search-header.open .search__query  {
    opacity: 1;
    height: 37px;
    display: block;;

}
#searchbox:focus {
    outline: none;
}
#search-header.open {
display: block;
    }
.headroom--unpinned #search-header.open {
    top: 91px;    }
 .headroom--unpinned #desktop-nav {
    margin-top: 75px;   }
     
 .headroom--unpinned  #search-header .search__query { top: 30px; width: 250px; }

  .headroom--unpinned #searchicon { top: 75px; }

  .headroom--unpinned #logo { top: 20px; }


}


@media (max-width: 1200px)  {
#searchicon, #searchbox { display: none !important; }
#toggle { display: block !important; }
body, body.page {
    padding-top: 75px;
}

}

  /* End Header V2.0 */

/* Start Email Signup Edits - SP */

/* End Email Signup Edits */

  /* Start Mobile */
@media (max-width: 768px) {
    body, body.page {
    padding-top: 0px;
}
    img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
   .footer-col--utilities  .col-xs-12 { padding-bottom:30px; }
   
    .iconrow { text-align: center; }
    .iconrow .panel-grid-cell { text-align: center; }
    #primary { overflow: hidden; }
    .admin-bar #header {
    top: 0px;
}

.homebk .whitebg.page-group-main { padding-top:0 !important; }
    #wpadminbar { display: none; }
    .unit-video-post-caption {  margin-bottom:20px; }
    .unit-quote-main, .media-pr.hentry, .unit-post-quote, .events, .hentry, .form-inline, .filters-form, .unit-quote-main .textwidget, .unit-intro-main .col-sm-10  {
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-group-main {
margin-left: 15px; 
        margin-right: 15px;

    }

    .mtextleft .unit-feature-heading h3 { font-size: 28px; text-align: left; } .mtextleft { text-align: left; }
    .whitebg.mtextleft .unit-feature-heading { text-align: left; }
    .page-group-main .col-sm-10 { padding-left:0; padding-right:0; }
    .mnotopborder { border-top:none !important; }
    .unit-intro-main .col-sm-10  {
        padding-left: 30px;
        padding-right: 30px;
    }
    .site-name { font-size:25px;     padding: 0 .5em .5em .5em; }
    article {
    padding: 50px 0;
}


    .sitespostswrapbk { height: auto !important; } 
    .site-selection-template-default #main, .ohio-success-template-default #main { margin-top:0 !important; }
    .panel-widget-stylebk { padding:20px 0 !important; }
    .hentry .unit-headerbk, .hentry.type-page, .siteorigin-widget-tinymce .unit-content  { padding:0; }
    .imgtext2col { margin-bottom:30px; }
    .single .post, .single .news-posts, .single .media-posts { padding-top:0; }
    .fullwidthbanner { height: 320px; }
    .homeintroimg img, .imageprevblock .ow-button-base a { width:100%; }
    .sow-headline-container,
    .featuredpostwrap, .imageprevblock {
        padding: 0 15px !important;
    }
    .mtextpadding, .imgtext2colbk, .fullwidthoffset, .unit-general-main, .unit-grandstand .textwidget,  .incentivetop, .unit-intro-main  {  padding-left: 15px  !important;
        padding-right: 15px !important; }

        .fullwidthoffset .unit-general-main, .unit-general-main .fullwidthoffset, .mtextpadding  .fullwidthoffset{ padding-left: 0px  !important;
        padding-right: 0px !important;  }

        .unit-video-post-main .row .col-md-7 { padding-left:30px; padding-right:30px; }
        .page-id-277 .events { padding-left:0px !important; padding-right:0px !important; }
        .col-sm-8 .buttons, .hentry .unit-header, [class*="col-"]  .buttons  {    }
       .unit-video-post-main

    .unit-video-post-image {
        margin: 0 !important;
    }
    #main {
        max-width: 100% !important;
    }
    #main {
        margin-top: 56px !important;
    }
    .josphero {
        width: 100%;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .josphero,
    .josphero .sow-slider-image,
    .josphero .sow-slider-image-container {
        height: 230px !important;
    }
    .josphero .banner-hero-title {
        margin-top: 9% !important;
        font-size: 36px !important;
        padding-left:15px; padding-right:15px;
        text-align: center;
    }

}


/* Start Tablet */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {

.tablet-2col {     flex-direction: row !important; flex-wrap: wrap !important; }
.tablet-2col .panel-grid-cell {   flex-basis:48%; }
    
    .filters-group { padding-left:15px; padding-right:15px; }
    .sitespostswrap { margin:0 !important;}
    #main {
    margin-top: 0px !important;
}
.panel-grid-cell .widget-title {
    padding-top: 20px;
}
.hentry .unit-header{ padding-top:30px !important; }
.josphero, .josphero .sow-slider-image-container, .josphero .sow-slider-image {
        height: 400px !important;
    }
    .josphero .banner-hero-title {
    margin-top: 15% !important; }
    .sitespostswrap .col-sm-6 { min-height: 229px; width: 50%;  }
  
}

@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1224px) {
.site-main  { padding-left:30px !important; padding-right:30px !important; }
.post-contentbk {  padding-left:30px;  }
.imgtext2col .unit-header { padding-top:0 !important; }


}

/* End Tablet */

/* Start Footer Column Edits - SP */

#custom_html-2 {margin-bottom:-25px;}

/* End Footer Column Edits */